.container_cardsection {
    display: flex;
    justify-content: center;
    background-color: #DCD5C8;
    margin-top: 10rem;
    width: 100%;
}

.cards_cardsection {
    display: flex;
    justify-content: space-around;
}

.cardsection {
    position: relative;
    width: 550px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px; /* Add margin between the cards*/
    margin-top: 50px; /* Add margin around the card */
    margin-bottom: 50px;
}

.cardsection img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire card */
}

.card-content {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 60px; /* Adjust as needed */
    color: white;
    z-index: 1; /* Ensure content is on top of the image */
}

.cardsection h3,
.cardsection p,
.card-btn {
    position: relative; /* Position elements on top of the background */
    z-index: 1; /* Ensure elements are on top of the background */
}

.cardsection h3{
    font-size: 40px;
    width: 250px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    margin-bottom: 5px;
    font-weight: 600; /* Set font-weight to normal to remove bold */
    font-variation-settings:
        "slnt" 0;
}

.cardsection p {
    font-size: 15px;
    color: black;
    width: 300px;
}

.card-btn {
    display: block;
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #DBB6B8;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    font-weight: 800; 
    font-variation-settings:
        "slnt" 0;
}