
.card{
  border-width: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  position: relative;
  margin: 1rem;
  width: 20%;
  transition: 0.2s;
}

.card:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.image{
    width:  100%;
    height: 25vw;
    object-fit: cover;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
  }
  
  .rightIcons {
    position: absolute;
    top: 1rem; 
    right: 1rem; 
    display: flex;
    align-items: center;
    transform: scale(1.3);
    color: white;
  }
  
  .ProductCard_fastSelling{
    transform: scale(1.3);
    box-shadow: 0px 2px 10px rgba(18, 18, 18, 0.499); 
    border-radius: 50%; 
    background-color: white; 
  }
  
  .productCard_wishlist,
  .productCard_cart {
    margin-left: 1rem; 
  }


.productName{
    text-align: center;
    font-size: 1,2rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.productPrice{
    font-size: 1rem;
    text-align: center;  
    font-style: italic;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.productRating {
    text-align: center;  
    margin: 0.5rem;
}

.productText{
  text-align: center;
}


.productInfoHidden {
  display: none;
}


.productCard_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  background-color: white; 
  padding: 1.2rem; 
  box-sizing: border-box; 
}

.productInfoButton {
  background-color: transparent; 
  border: none; 
  color: #000; 
  cursor: pointer;
  outline: none; 
}