
.card{
    position: relative;
    background-color:rgb(255, 255, 255);
    margin: 1rem;
    max-width: 20rem;
    max-height: 50rem;
    transition: 0.2s;
}

.card:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.image{
    width:  100%;
    height: 24vw;
    object-fit: cover;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
  }
  
  .rightIcons {
    position: absolute;
    top: 1rem; /* Adjust top position as needed */
    right: 1rem; /* Adjust right position as needed */
    display: flex;
    align-items: center;
    transform: scale(1.3);
    color: white; /* Specify the desired color */
  }
  
  .ProductCard_fastSelling{
    transform: scale(1.3);
    box-shadow: 0px 2px 10px rgba(18, 18, 18, 0.499); /* Customize the shadow as needed */
    border-radius: 50%; /* Optional: Make the container circular */
    background-color: white; /* Set the background color inside the ring */
  }
  
  .productCard_wishlist,
  .productCard_cart {
    margin-left: 1rem; /* Add margin between the icons */
  }

.productCard_content{
    margin: 1rem;
}

.productName{
    font-size: 1.3rem;
}

.displayStack_1,
.displayStack_2{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productPrice{
    font-size: 1.2rem;
    font-weight: bold;
}

.productSales, .productTime{
    font-size: 1rem;
}

.productSales{
    font-style: italic;
}